<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 按级别分文件 -->
    <property name="log.error" value="error.log"/>
    <property name="log.warn" value="warn.log"/>
    <property name="log.info" value="info.log"/>
    <property name="log.debug" value="debug.log"/>
    <property name="log.base" value="${user.dir}/logs"/>
    <property name="fileSize" value="30MB"/>
    <property name="totalSizeCap" value="1GB"/>

    <property name="log.pattern"
              value="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%level][%thread][%logger{56}.%method:%L] - [%msg]%n"/>
    <property name="maxDays" value="3"/>

    <!-- 控制台 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- DEBUG 日志文件 -->
    <appender name="file.debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${log.debug}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/${log.debug}.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>${fileSize}</maxFileSize>
            <maxHistory>${maxDays}</maxHistory>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- INFO 日志文件 -->
    <appender name="file.info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${log.info}</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/${log.info}.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>${fileSize}</maxFileSize>
            <maxHistory>${maxDays}</maxHistory>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- WARN 日志文件 -->
    <appender name="file.warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${log.warn}</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/${log.warn}.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>${fileSize}</maxFileSize>
            <maxHistory>${maxDays}</maxHistory>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- ERROR 日志文件 -->
    <appender name="file.error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${log.error}</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/${log.error}.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>${fileSize}</maxFileSize>
            <maxHistory>${maxDays}</maxHistory>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 抑制第三方库的日志 -->
    <logger name="org.springframework" level="ERROR"/>
    <logger name="springfox.documentation" level="ERROR"/>
    <logger name="org.mybatis" level="ERROR"/>
    <logger name="org.apache.http" level="ERROR"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="com.netflix" level="ERROR"/>

    <!-- 本项目日志级别 -->
    <logger name="com.scannerlocalservice" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file.debug"/>
        <appender-ref ref="file.info"/>
        <appender-ref ref="file.warn"/>
        <appender-ref ref="file.error"/>
    </root>
</configuration>
