@charset "UTF-8";

/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
img,
input,
button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul,
ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    /* 宋体 */
    color: #666;
    background: #fff
}

/* 清楚浮动 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s,
i,
em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

/*头部导航开始*/
.shortcut {
    height: 30px;
    /*行高和高一样 垂直居中 */
    line-height: 30px;
    background-color: #f1f1f1;
    width: 100%;
}

/* dt/fore i s 定位小三角 */
.dt,
/* 提升权重 */
.shortcut .fore {
    padding: 0 20px 0 10px;
    position: relative;
}

.dt i,
.fore i {
    /* font-weight font-size/line-height font-family */
    /* font-weight: bold;  【bold加：粗，约等于700; normal：不加粗】*/
    font: 700 15px/15px "宋体";
    /* 子绝父相 */
    position: absolute;
    top: 13px;
    right: 3px;
    height: 7px;
    width: 15px;
    /* 隐藏"◇"上半部分 */
    overflow: hidden;
}

.dt s,
.fore s {
    /* 子绝父绝 */
    position: absolute;
    /* 在元素的上边加-7个像素，即向上移动7个像素 */
    top: -7px;
    left: 0;
}

.fr li {
    float: left;
    padding: 0 10px 0 10px;
}

.fr .line {
    width: 1px;
    height: 12px;
    background-color: #dddddd;
    margin-top: 9px;
    padding: 0;
}

/* .shortcut提升权重 */
.shortcut .tel-jd {
    padding: 0 20px 0 25px;
}

.tel {
    position: absolute;
    width: 15px;
    height: 20px;
    background: url(../../img/sprite.png) no-repeat;
    left: 5px;
    top: 5px;
}

/*头部导航结束*/

/* topbanner start */
.topbanner {
    background-color: #8a25c6;
}

.tp {
    position: relative;
}

.close-banner {
    /* 子绝父相 */
    position: absolute;
    top: 5px;
    right: 3px;
    width: 19px;
    height: 19px;
    background: url(../../img/close.png) no-repeat;
}

.close-banner:hover {
    background-position: 0 bottom;
}

/* topbanner end */

.logo {
    width: 360px;
    height: 75px;
    float: left;
    padding-top: 25px;
    /* background-repeat【背景平铺】no-repeat repeat-x repeat-y 不重复 水平重复 垂直重复 */
    /* background-position【背景定位】 0 25px x轴和y轴 */
    background: url(../../img/logo.png) no-repeat 0 25px;
    position: relative;
}

.logo .jd-a {
    display: block;
    width: 270px;
    height: 60px;
    /* 隐藏“京东”两字 */
    text-indent: -2000em;
}

.db11 {
    position: absolute;
    width: 180px;
    height: 80px;
    top: 10px;
    left: 168px;
}

.search {
    width: 538px;
    height: 35px;
    float: left;
    margin-top: 25px;
}

.search input {
    width: 450px;
    height: 32px;
    border: 2px solid #b61d1d;
    padding-left: 4px;
    color: #666;
    /* 字号/行号 字体 */
    font: 14px/32px "microsoft yahei";
    float: left;
}

.search button {
    width: 80px;
    height: 36px;
    background-color: #b61d1d;
    float: left;
    font: 16px/36px "microsoft yahei";
    color: #fff;
    /* 
    cursor: pointer; 鼠标变小手
    cursor: default; 默认，就是小箭头
    cursor: move;    移动图标
    cursor: text;    文本输入图标
    */
    cursor: pointer;
}

.car {
    width: 96px;
    height: 34px;
    padding-left: 43px;
    float: right;
    margin: 25px 65px 0 0;
    border: 1px solid #dfdfdf;
    line-height: 34px;
    position: relative;
}

.icon1 {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 16px;
    height: 13px;
    background: url(../../img/sprite.png) no-repeat -1px -59px;
}

.icon2 {
    /* font-weight font-size/line-height font-family */
    /* font-weight: bold;  【bold加粗，约等于700; normal：不加粗】*/
    font: 400 13px/13px "simsun";
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon3 {
    width: 16px;
    height: 14px;
    /* 行高 和 高一样 垂直居中 */
    line-height: 14px;
    /* 水平居中 */
    text-align: center;
    color: #fff;
    background-color: #c81623;
    font-size: 12px;
    position: absolute;
    top: -4px;
    /* 圆角处理 根据宽高选择 生成相应的圆角 */
    /* 上 右 下 左 */
    border-radius: 7px 8px 7px 0;
}

.hotwords {
    float: left;
    width: 500px;
    padding: 7px 0;
}

.hotwords a {
    margin-right: 6px;
}